*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 05vh;
}
/*separador del menu con el resto de la 
pagina donde esta el logo y los links*/
section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
/*imagen del logo*/
section nav .logo img{
    width: 110px;
    cursor: pointer;
    margin: 9px 0;
}

section nav ul{
    list-style: none;
}
/*poner los links del menu en linea*/
section nav ul li{
    display: inline-block;
    margin: 0 17px;
}
/*letra de los links del menu*/
section nav ul li a{

    font-family: Arial;
    text-decoration: none;
    color:goldenrod;
    font-weight: bold;
    font-size: 17px;
    transition: 0.1s;
}
/*linea debajo de los links del menu*/
section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #807a6c;
    display: block;
    transition: 0.2s linear ;
}
/*cambio de color de letra*/
section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color:rgb(156, 115, 10);
}

/*foticos del carrito, corazon y lupa, tamaño y color*/
section nav .icon i{
    font-size: 19px;
    color: rgb(199, 163, 87);
    margin: 0 8px;
    cursor: pointer;
    transition: 0.3s;
}
.icon input{
    display:inline-table;
    padding: 6px;
    border-color: rgb(255, 194, 39);
    }

    .icon input .placeholder{
        font-family: mv boli;
        text-decoration: none;
        color:goldenrod;
    }
/*cambiar color pasando cursos encima de las foticos*/
section nav .icon i:hover{
    color:rgb(156, 115, 10);
}

div{
    height: auto;
}

.home{
    min-height: 300vh;
    padding-top: 12rem;
    background: url(../img/hotel.jpg);
    background-repeat: no-repeat;
    background-size: 1250px;
    background-position:20px 30px;
    
    
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:rgb(27, 20, 20);
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgba(139, 125, 98, 0.966);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    font-size: medium;
    font-family: arial;
    text-decoration: none;
    color:rgb(236, 236, 236);
    transition: .3s ease;
}

.cn:hover{
background-color: rgb(240, 201, 73);
}

